*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.notice{
    display: inline-block;
    background-color: rgb(248, 237, 237);
    height: 180px;
    margin:0 auto;
    max-width: 100%;
    text-align: left;
    padding:15px;
    span{
        display: inline;
        text-align: left;
        text-size-adjust: 100%;
        font-size: 17px;
        color: rgb(52, 52, 52)
    }
    h3{
        color: orangered;
        margin-top: 20px;
        font-size: 20px;
    }
}
nav{
    border-top: 1px solid orangered;
    display: flex;
    width:100%;
    .nav-small{
        width: 100%;
        display: flex;
        margin:30px 0 10px 0;
        padding: 15px;
        text-align: left;
        box-sizing: border-box;
        .small-links{
            width:  100%;
            .search-input{
                position: absolute;
                width: 100%;
                height: 100px;
                top: 235px;
                margin-left: -15px;
                border:  1px solid #ccc;
                padding: 0;
                &:hover{
                    color: black;
                }
            }
            ::placeholder{
                padding-left:  150px;
            }
            .search-d-content{
                display: none;
                position: absolute;
                top:64px;
                width: 100%;
                z-index: 99;
            }
            .search-container{
                box-sizing: border-box;
                position: absolute;
                top: 168px;
                left: 72px;
                background-color: orangered;
                color: #fff;
                width: 40px;
                height: 40px;
                border-radius: 200px;
                span.search-close{
                    position: absolute;
                    left: 11px;
                    top: -5px;
                    font-size: 30px;
                    cursor: pointer;
                    
                }
            }
            .login-D-down{
                display: none; 
                position: absolute;
                top: 299px;
                width: 100%;
                z-index: 99;
                margin-left: -15px;
                height: 310px;
                background-color: #ccc;
                text-align: center;
                h5{
                    color: rgb(23, 22, 22);
                    margin-top: 20px;
                }
            .login-container{
                box-sizing: border-box;
                position: absolute;
                top: -67px;
                left: 145px;
                background-color: orangered;
                color: #fff;
                width: 40px;
                height: 40px;
                border-radius: 200px;
                span.login-close{
                    position: absolute;
                    left: 11px;
                    top: -5px;
                    font-size: 30px;
                    cursor: pointer;
                    
                }
            }
            .login-links{
                position: absolute;
                top: 95px;
                #personal-color{
                    color: orangered;
                }
                #click-personal,#click-business{
                    position: absolute;
                    top: 24px;
                }
                a{
                    text-decoration: none;
                    background: none;
                    color: #000;
                    margin-left: 100px;
                    &:hover{
                        color: orangered;
                        border-bottom: 2px solid orangered;
                        border-radius: none!important;
                        
                    }
                }
                .acc-bord-bottom{
                    display: flex;
                }
            }
            .l-d-content{
                background-color: rgb(138, 138, 138);
                margin-top: 100px;
                height: 165px;
                .drop-content2{
                    padding-top: 50px;
                    position: relative;
                    a.personal{
                        display: block;
                        position: absolute;
                        left: 155px;
                        top: 42px;
                        text-decoration: none;
                        color: #fff;
                        padding: 10px 50px;
                        border-radius: 1px;
                        background-color: orangered;
                    }
                    a.business{
                        display: none;
                        position: absolute;
                        left: 155px;
                        top: 42px;
                        text-decoration: none;
                        color: #fff;
                        padding: 10px 50px;
                        border-radius: 1px;
                        background-color: orangered;
                    }
                    hr{
                        height: 15px;
                        width: 1px;
                        margin: 10px 10px;
                    }
                    .l-register{
                        display: flex;
                       margin: 60px 0 0 180px;
                        span{
                            a{
                                background: none;
                                color: #000;
                                font-size: 12px;
                                padding: 0;
                                &:hover{
                                    color: orangered;
                                }
                            }
                        }
                    }
                }
            }
            }
            
        }
        .small-logo{
            float: right;
            margin-top: -40px;
         
        }
        .list,.search-top{
            border:  1px solid #ccc;
            border-radius: 100%;
            padding: 10px;
            margin-left: 15px;
            background-color: #ccc;
            cursor: pointer;
        }
        span.loginBtn{
            a{
                margin-left: 15px;  
                text-decoration: none;
                background-color: orangered;
                padding: 10px 20px;
                border-radius: 20px;
                color: white;
                font-weight: bold;
                .cat{
                    margin-right: 5px;
                    svg{
                        color: white!important;
                    }
                }
            }
        }
        hr{
           
            display: block;
            width: 100%;
            margin: 35px 0;
            padding: 0;
        }
       
    }
   
    .navigations{
        display: none;
        background-color: orangered;
        padding: 1px 10px ;
        width: 85%;
        text-align: center;
        max-height: 50px;
        align-items: center; 
    }
    ul{
        display: flex;
        margin: 0 auto;
    }
    ul.primary{
        margin-left: 10px;
    }
    li{
        list-style: none;
        i{
            margin-left: 5px;
            cursor: pointer;
            color: #fff;
        }
        a{
            text-decoration: none;
            color: #fff;
            padding: 10px;
            font-size: 15px;
        }
    }
}

section.nav2{
    .navigation2{
        display: none;
        margin-top: -60px;
        margin-left: -20px;
        height: 100vh;
        width: 100%;
        z-index: 99;
        background-color:#fff;
        
        .close-container{
            box-sizing: border-box;
            position: absolute;
            top: 232px;
            left: 30px;
            background-color: orangered;
            color: #fff;
            width: 40px;
            height: 40px;
            border-radius: 200px;
            span.closeNav{
                position: absolute;
                left: 0;
                right: 0;
                top: -5px;
                font-size: 30px;
                cursor: pointer;
                
            }
        }
        ul.navigation-list{
            display: block;
            flex-direction: column;
            text-align: left;
            position: relative;
            .angles{
                float: right;
                
            }
            .drop-wrap1{
                display: none;
                background-color:rgb(190, 184, 184);
                width: 752px;
                height: 800px;   
                position: absolute;
                top: 50px;
                left:  15px;
            }
            li{
                list-style: none;
                padding:  20px;
                cursor: pointer;
                font-weight: bold;
                font-size: 14px;
                margin: 0;
                border-bottom: 1px solid #ccc;
                a{
                    text-decoration: none;
                    color: black;
                    .homeBtn{
                        margin-left: 15px;
                    }
                    &:hover{
                        color: orangered;
                    }
                }
                &:hover{
                    color: orangered;
                    
                }
                    .drop-content1{
                        display: none;
                        background-color:white;
                        position: absolute;
                        top: 2px;
                        left:  51px;
                        width: 250px;
                        height: 800px;
                        z-index: 99;
                        margin-left:  -50px;                     
                        a{
                            i{
                                margin-left: 50px;
                            }
                            display: block;
                            text-align: left;
                            padding: 20px;
                            text-decoration: none;
                            border-bottom: 1px solid rgb(190, 184, 184);
                            color: rgb(23, 22, 22);
                            &:hover{
                                color: orangered;
                                background-color:rgb(190, 184, 184);
                            }
                        }
                        .drop-content2{
                            display: none;
                            position: absolute;
                            top: 0px;
                            left:  250px;
                            width: 250px;
                           .content-a{
                               border-bottom: 1px solid rgb(216, 214, 214);
                                &:hover{
                                    color: orangered;
                                    background-color:rgb(247, 246, 246);
                                }
                            }
                            .cont-a{
                                position: relative;
                                margin-top: -80px;
                                
                            }
                            .current-acc-cont{
                                display:none;
                                background-color: gray;
                                position: absolute;
                                top: 0px;
                                left:  250px;
                                right: 0;
                                width: 250px;
                                height: 800px;
                            }
                        }    
                    }
            }
        }
        .tour{
            text-align: left;
            margin: 25px 0 0 30px;
            a{
                background-color: orangered;
                padding: 15px;
                text-decoration: none;
                color: #fff;
                border-radius: 100px;
                i{
                    margin-right: 10px;
                }

            }
        }
    }
}
section.content1{
    .container{
        display: inline-block;
        margin: 0 auto;
        .first{
            margin: 10px auto;
            width: 400px;
            h4{
                font-size: 30px;
                color: rgb(12, 12, 12);
                span{
                    color: orangered;
                }
            }
            a{
                display: inline-block;
                text-decoration: none;
                background-color: orangered;
                color: white;
                padding: 15px;
                margin-top: 20px;
            }
        }
        .second-img{
            img{
                width: 200px;
                margin-left: 50px;
                
            }
        }
        .third-form{
            display: none;
            margin-top: -30px;
            background: linear-gradient(
                to top,
                rgb(183, 177, 177) 10%,
                rgb(183, 177, 177)  20%
                rgb(229, 224, 224) 0%,
                white 70%,
                
            );
            width: 250px;
            height: 220px;
            border: 1px solid rgb(209, 209, 209);
            h5{
                color:rgba(56, 54, 54, 0.955);
                margin: 20px 0 -10px 0;
                border-bottom: 1px solid rgb(237, 237, 237);
            }
            .description-link{
                border-bottom: 1px solid rgb(220, 220, 220);
                a{
                    display: inline-block;
                    padding: 20px;
                    text-decoration: none;
                    color:rgb(11, 11, 11);
                    margin-top: 10px;
                    font-weight: bold;
                    
                }
                .a-1{
                    color: orangered;
                    text-decoration: underline;
                }
                .a-2{
                    &:hover{
                        color: orangered;
                        text-decoration: underline;
                    }
                }
            }
            .login{
                a{
                    display: inline-block;
                    text-decoration: none;
                    background-color:orangered;
                    color: #fff;
                    padding: 10px 60px;
                    margin-top: 10px;
                }
            }
            .register{
                display: flex;
                
                a{
                    display: inline-block;
                    text-decoration: none;
                    margin: auto;
                    color:rgb(84, 83, 83);
                    &:hover{
                        color: orangered;
                    }  
                }
                hr{
                    width: 1px;
                    height: 15px;
                    margin-left: -60px;
                    margin-right: -60px;
                } 
            }
        }
    }
}
section.discription{
    background-color: rgb(192, 185, 185);
    height: 1200px;
    position: relative;
    margin-top: 50px;
    overflow: hidden;
    .container2{
        position: absolute;
        width: 100%;
        left: 50px;
        top: 100px;
        display: flex;
        flex-wrap: wrap;
        .flex-column {
            display: flex;
        }
        .column{
            
            width: 90%;
            padding: 10px;
            text-align: left;
            box-sizing: border-box;
            h4{
                margin-top: 20px;
                color: rgb(21, 21, 21);
            }
            p{
                color: rgb(58, 56, 56);
            }
            a{
                text-decoration: none;
                color: orangered;
                width: 100%;
                &:hover{
                    opacity: 0.8;
                    color: rgb(118, 35, 5);
                }
            }
           
        }
        .head-line{
            display: block;
           margin: -30px 0 25px 0; 
           text-align: center;
           width: 80%;
           p{
               text-align: center;
               
               color: rgb(37, 37, 37);
               margin: 0 auto;
           }
           h3{
               font-size: 30px;
               color: rgb(28, 28, 28);
           }
           
        }
        &:after{
            content: '';
            display: table;
            clear: both;
        }
    }
    
}
section.initiatives{
    margin-top: 150px;
        h5{
            text-align: left;
            margin-left: 90px;
            color: rgb(20, 17, 17);
        }
    .ini-column1{
        display: flex;
        margin:  0 auto;
        .food,.ndani{
            width: 300px;
            height:200px;
            margin-left: 90px;
            box-sizing: border-box;
            
        }                                                                                                                 
        .food{
            background-color: rgb(226, 226, 226);
            a{
                text-decoration: none;
                background-color: orangered;
                padding: 10px 25px;
                color: #fff;
            }
        }
        img{
            width: 300px;
        }
        .ndani{
            position: relative;
            span{
                
                a{  
                    text-decoration: none;
                    position: absolute;
                    left: 50px;
                    right: 50px;
                    top: 150px;
                    background-color: orangered;
                    padding: 10px 5px;
                    color: #fff;
                    
                }
            }
        }
    }
    .first-col{
        display: flex;
    
    }
    .second-col{
        border: 1px solid rgb(218, 218, 218);
        width: 300px;
        height:200px;
        margin-right: 100px;
            margin-left: 80px;
        img{
            width: 280px;
        }
        hr{
            width: 25px;
            height: 1px;
        }
    }
    .ini-column2{
        margin-top: 200px;
        ul{
            width:  90%;
            margin: 0 auto;
            li{
                list-style: none;
                width: 13%;
                float: left;
                span{
                    display: block;
                }
                svg{
                    width: 50px;
                    background-color: rgb(213, 210, 210);
                    border-radius: 90%;
                    padding: 5px;
                    
                    
                }
                
            }
        }
    }
}




